<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div >
    <div class="field">
      <%= f.label :slide_name %><br>
      <%= f.text_field :slide_name %>
    </div>
    <div class="field">
      <%= f.label :slide_number %><br>
      <%= f.number_field :slide_number %>
    </div>

    <div class="row fullWidth" data-no-turbolink>
      <div class="large-6 columns">
        <div class="field">
          <div class="row">
            <div class="large-6 columns"> <p>Content</p> </div>
             <div class="large-6 columns"><a class="button tiny right radius " id="updatePrev">Refresh View</a></div> <br> 
          </div>      
          <%= f.text_field :content, class:'summernote', id:"slide_content"%>
        </div>  
      </div>


      <div class="large-6 columns">
        <p>Slide</p>
        <div class="reveal-wrapper">
          <div class="reveal">
            <div class="slides" style="width: auto !important;position: relative">
                <section id="preview"></section>             
            </div>
          </div>  
        </div>
      </div>
      <div class="field">
        <%= f.hidden_field :presentation_id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>    
<% end %>


<% content_for :reveal do 
  revealInitializeSingleSlide  
end %> 

