<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slide_name %><br>
    <%= f.text_field :slide_name %>
  </div>
  <div class="field">
    <%= f.label :slide_number %><br>
    <%= f.number_field :slide_number %>
  </div>
  <div class="row fullWidth">
    <div class="large-6 columns">
      <div class="field">
        <%= f.label :content %><br>
       <!-- <%= f.text_field :content %> -->
        <%= f.text_field :content, class:'summernote' %>
      </div>  
    </div>


    <div class="large-6 columns">
      <%= f.label :slides %><br>
      <div class="reveal-wrapper">
        <div class="reveal">
          <div class="slides">
              <section>Single Horizontal Slide</section>
              <section>
                  <section>Vertical Slide 1</section>
                  <section>Vertical Slide 2</section>
              </section>
          </div>
        </div>
      </div>  
    </div>
  </div>



  <div class="field">
    <%= f.hidden_field :presentation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>


<% content_for :reveal do 
  revealInitializeSingleSlide  
end %> 

