<p id="notice"><%= notice %></p>

<p>
  <strong>Slide number:</strong>
  <%= @slide.slide_number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @slide.presentation_id %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
