<p id="notice"><%= notice %></p>

<p>
  <strong>Slide number:</strong>
  <%= @slide.slide_number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
  <!--  <div class="large-6 columns">
   <div class="reveal-wrapper">
            <div class="reveal">
             <div class="slides">
                <section id="preview"><%=raw @slide.content %></section>             
             </div>
            </div>
         </div>
    </div>  -->
</p>

<p>
  <strong>Presentation:</strong>
  <%= @slide.presentation_id %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide), :class => 'button' %>
<%= link_to 'Back', slides_path, :class => 'button' %>



