<p id="notice"><%= notice %></p>

<p>
  <strong>Slide number:</strong>
  <%= @slide.slide_number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @slide.presentation_id %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide), :class => 'button' %>
<%= link_to 'Back', presentation_show_slides_path, :class => 'button' %>
