<!-- <h1>Listing presentations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presentations.each do |presentation| %>
      <tr>
        <td><%= presentation.name %></td>

        <td><%= link_to 'Show', presentation %></td>
        <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
        <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
<div class="row">
  <div class="small-6 large-5 columns">
    <% if user_signed_in? %>
      <%= render 'layouts/welcomeUser' %>
    <% else %>
      <%= render 'layouts/welcomeNoUser' %>
    <% end %>
  </div>
</div>