<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @presentation.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @presentation.user %>
</p>

<table>
	<% @presentation.slides.each do |slide| %>
		<tr>
			<td>
				<ul>
					<li>
						<%= link_to slide.id, slide %>
					</li>
				</ul>
			</td>
			<td>
				<%= link_to 'Edit slide', edit_slide_path(slide.id) %> 
			</td>
		</tr>
	<% end %>
</table>

<%= link_to 'New Slide', new_slide_path, :class => 'button' %>
<%= link_to 'Edit presentation', edit_presentation_path(@presentation), :class => 'button' %> 
<%= link_to 'Back to all presentations', presentations_path, :class => 'button' %>
