<div class="row">
	<div >
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @presentation.name %>
		</p>
		<p>
		  <strong>Discription:</strong>
		  <%= @presentation.discription %>
		</p>
		
			      
        <p>Slide</p>
        <div class="reveal-wrapper">
          <div class="reveal">
            <div class="slides" style="width: auto !important;position: relative">
                <!-- <section id="preview"></section>              -->
                <% @presentation.slides.each do |slide| %>
                	<section><%= raw slide.content %></section>
                <% end %>
            </div>
          </div>  
        </div>
 

		<%= link_to 'New Slide', presentation_new_slide_path, :class => 'button' %>
		<%= link_to 'Back to all presentations', "/", :class => 'button' %>
	</div>
</div>



<% content_for :reveal do 
  revealInitializeDefault
end %> 
