<h1>Welcome <%= current_user.email%></h1>
Click any presentation to get detailed information about the presentation and to enter new slides.
<table>
	<thead>
		<tr>
			<th width="200">
				Presentation
			</th>
			<th>
				Discription	
			</th>
			<th>
				User actions	
			</th>
		</tr>
	</thead>
	<tbody>
		<% if !@presentations.blank? %>
			<% @presentations.each do |presentation| %>
			<tr>
				<td>
					<%= link_to presentation.name, presentation %>
				</td>
				<td>
					<%= presentation.discription %>
				</td>
				<td>
					<%= link_to 'Edit presentation', edit_presentation_path(presentation.id) if user_signed_in? %> |
					<%= link_to 'Delete presentation', presentation, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %>
				</td>
			</tr>
			<% end %>
		<% else %>
			<p>You have no presentations. To create a presentation click button below.</p>
		<% end %>
	</tbody>
</table>
<%= link_to 'New presentation', new_presentation_path, :class => 'button' if user_signed_in? %>
